.page {
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

.arrow {
    margin-right: 4px;
    transition: transform var(--animation-duration);
}

.title {
    display: flex;
    transition: background-color var(--animation-duration), font-weight var(--animation-duration);
    padding-bottom: var(--item-space);
}

.title:focus {
    outline: none;
}

.title:hover {
    text-decoration: underline;
}

.highlighted {
    background: var(--selected-item-background);
}

.selected {
    font-weight: var(--bold-font-weight);
}

.rotated {
    transform: rotate(180deg);
}
